<div *ngFor="let event of buildEvent.eventArray" class="event" id="event-container">
    <div class="img-box"><img src={{event.img}} id="img">
    </div>
    <div class="event-description">
        <a href={{event.link}} target="_blank" id="event-title">{{event.name}}</a>
        <p>{{event.venue}}</p>
        <p id="description">{{event.description}}</p>
        <p>{{event.date | date: 'shortDate'}}</p>
        <!-- <p>{{event.eventTime | date: 'shortTime'}}</p> -->

    </div>
    <div class="bucket-icon">
        <i class="material-icons" (click)="addToBucketList(event)">star_border</i><br>
        <a href={{event.link}} target="_blank" id="eventLink">View Details</a>
    </div>
</div>