#search-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.inputs {
    margin: 5px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    border: 5px solid;
    border-color: rgba(255, 255, 255, 3.0);
    color: white;
    text-align: center;
    width: 50%;
    font-family: 'Ubuntu', sans-serif;
}

input::placeholder {
    color: white;
}

.material-icons {
    margin: 5px;
    padding: 10px;
    font-size: 35px;
}

