* {
    margin: -10px;
    scroll-margin-bottom: 0;
    padding: 0;
    border: 0;
    font-family: 'Ubuntu', sans-serif;
}

#app-container {
    background-image: url("https://assets.bigcartel.com/product_images/189369092/Stadiums_0467.jpg");
    height: 10000px;
    border: none;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-y;
    width: auto;
    background-position: 50% 50%;
    text-align: center;
}

#app-container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#nav {
    color: white;
    list-style-type: none;
    margin: 5px;
    height: 10px;
    margin-bottom: 10px;
}

#logo {
    color: white;
    font-size: 50px;
    margin: 5px;
    padding: 5px;
    font-style: italic;
}

li {
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    display: inline-block;
}

a {
    color: white;
    text-decoration: none;
}

.side-btn {
    position: fixed;
    right: -45px;
    top: 50%;
    width: 110px;
    height: 25px;
    color: white;
    background-color: #b48c36;
    font-family: TMSans-Bold, Helvetica, Arial, sans-serif;
    font-size: 0.6875em;
    line-height: 16px;
    transform: rotate(-90deg) translateY(-50%);
    z-index: 11;
    cursor: pointer;
    border-radius: 4px 4px 0px 0px;
    /*border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    transition: all 0.3s ease 0s; */
}